<mat-form-field appearance="outline">
  <mat-label>Часть речи</mat-label>
  <mat-select placeholder='Выберите часть речи'>
    <mat-option value='1'>Любая</mat-option>
    <mat-option value='1'>Существительное</mat-option>
    <mat-option value='2'>Глагол</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Количество букв</mat-label>
  <input matInput type='number' placeholder="Введите количество букв" value="Sushi">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Повторение букв</mat-label>
  <mat-select placeholder='Повторение букв в слове'>
    <mat-option value='0'>Не важно</mat-option>
    <mat-option value='1'>Повторяются</mat-option>
    <mat-option value='2'>Не повторяются</mat-option>
  </mat-select>
</mat-form-field>
